body {
    background: black;
    margin: 25px;
}

div.container {
    width: 600px;
    margin: auto;
    display: flex;

div.post {
    background: white;
    margin: 50px;
}


h2 {
    margin: 0;
    padding: 0;
    padding-left: 11px;
    font-size: 20px;
}


p.c {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    font-size: 11px;
    font-family: 'Times New Roman';
    float: inline-start;
}    

.HTML {
    padding: 18px 10px 0 18px;
    font-size: 25px;
    display: flex;
    
}

.E-Vertical {
    width: 5%;
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 5px;
    float: inline-end;

}


div.post img {
    width: 100%;
}

p.a {
    padding: 0;
    margin: 10px;
    font-size: 16px;
}

p.b {
    padding-left: 10px;
    padding-bottom: 25px;
}

div.post-icons i {
    margin: 0;
    font-size: 25px;
    padding: 5px;
 }

.Save-Icon {
    margin: 0;
    display: flex;
    align-items: right;
    justify-content: right;
    float: inline-end;
}